[submodule ".registry"]
	path = .registry
	url = https://github.com/corymccartan/universe
	branch = HEAD
[submodule "adjustr"]
	path = adjustr
	url = https://github.com/CoryMcCartan/adjustr
	branch = v0.1.2
[submodule "biride"]
	path = biride
	url = https://github.com/CoryMcCartan/birdie
	branch = v0.4.0
[submodule "easycensus"]
	path = easycensus
	url = https://github.com/CoryMcCartan/easycensus
	branch = v1.1.1
[submodule "nbhdmodel"]
	path = nbhdmodel
	url = https://github.com/CoryMcCartan/nbhdmodel
[submodule "wacolors"]
	path = wacolors
	url = https://github.com/CoryMcCartan/wacolors
	branch = v0.3.1
